@{
    ViewData["Title"] = "Home Page";
    int sno = 0;
}


<div class="text-left">
   
    Please allow us to access your contacts to list
    <br/>
    <a class="btn btn-primary" href="https://accounts.google.com/o/oauth2/v2/auth?access_type=offline&response_type=code&client_id=110197253841-hrtrba7v56tq2qcrvdr3ig3rc3bk6v3h.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A5000%2Fpeople%2F&scope=profile%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcontacts.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuser.birthday.read%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuser.emails.read%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email">Click Here</a>

</div>
