<main role="main" class="pb-3">
  <div class="text-center">
    <h5 class="display-5">My Device Info</h5>    
  </div>
  <table class="table">
    <tr><td>Browser</td><td>{{deviceInfo.browser}}</td></tr>
    <tr><td>Browser Version</td><td>{{deviceInfo.browser_version}}</td></tr>
    <tr><td>Device</td><td>{{deviceInfo.device}}</td></tr>
    <tr><td>OS</td><td>{{deviceInfo.os}}</td></tr>
    <tr><td>OS Version</td><td>{{deviceInfo.os_version}}</td></tr>
    <tr><td>User Agent</td><td>{{deviceInfo.userAgent}}</td></tr>
    <tr><td>IsMobile</td><td>{{isMobile}}</td></tr>
    <tr><td>IsTable</td><td>{{isTablet}}</td></tr>
    <tr><td>IsDesktop</td><td>{{isDesktopDevice}}</td></tr>
  </table>
</main>
