<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
    <div class="container">      
      <a class="navbar-brand" href="/"><fa-icon [icon]="faHome"></fa-icon> Home</a>
      <a class="navbar-brand" href="/task"><fa-icon [icon]="faTasks"></fa-icon> Task</a>
      <a class="navbar-brand" href="/list"><fa-icon [icon]="faList"></fa-icon> List</a>
      <a class="navbar-brand" href="/Login/Logout"><fa-icon [icon]="faSignOutAlt"></fa-icon> LogOut</a>
    </div>
  </nav>
</header>
