@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-left">
        <h4>You Landed on Local Page</h4>
        <br />Please allow us to access your Google Account for the following Benefits
        <br /><br />
        <ul>
            <li>Your Calender With VAapps</li>
        </ul>
        <br />
        <a class="btn btn-primary" href="https://accounts.google.com/o/oauth2/v2/auth?access_type=offline&response_type=code&client_id=110197253841-2388jjcue84lqd3dagq9peck7qn5kgt0.apps.googleusercontent.com&redirect_uri=https%3A%2F%2Flocalhost%3A5001%2Fgoogle%2F&scope=https://www.googleapis.com/auth/calendar.readonly">Click Here</a>
    </div>
