@{
    ViewData["Title"] = "Home Page";
}

    <div class="col-md-4">
        <a class="btn btn-block btn-danger" value="Google" title="Sign in using your Google account" name="Google" asp-area="" asp-controller="Home" asp-action="Google">
            <i class="fab fa-google-plus fa-align-left social-icon" ></i>  Sign In with Google
        </a>
        <a class="btn btn-block btn-primary" value="Microsoft" title="Sign in using your Microsoft account" name="Microsoft" asp-area="" asp-controller="Home" asp-action="Microsoft">
            <i class="fab fa-microsoft fa-align-left social-icon"></i>  Sign In with Microsoft
        </a>
    </div>
